###Terraform
# Local .terraform directories
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfrc
*.plan
*.auto.tfvars
lock.json
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Custom Guest Configs
scripts/dsc_examples/*/
scripts/definitionList.json

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.DS_Store
.tst
.tmp
.temp
